/* fonts */
body {
    font-family: 'Roboto', sans-serif;
}

.header-name, .section-heading, .footer-heading {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
}

/* header */
.rosie-logo {
    background: url("../images/rosie.jpg") center / cover no-repeat;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
}
.header-text {
    margin-left: 50px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-title {
    font-size: 1.5rem;
    font-weight: 200;
}
/* navbar */
.menu-item span {
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
}
.menu-item {
    width: 100%;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item a {
    color: white;
    width: 100%;
    text-decoration: none;
}
.menu-item i {
    font-size: 26px;
    margin-bottom: 5px;
}
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* background color */
.bgcolor__header {
    background-color: #676767;
}
.bgcolor__menuitem--home {
    background-color: #e67e22;
}
.bgcolor__menuitem--resume {
    background-color: #9b59b6;
}
.bgcolor__menuitem--contact {
    background-color: #3498db;
}
.bgcolor__menuitem--download {
    background-color: #525252;
}
.bgcolor__personalinfo {
    background-color: #f4f4f4;
}
.bgcolor__workhistory {
    background-color: #9b59b6;
}
footer {
    background-color: #525252;
    padding: 1.5rem;
}


/* icons */
.about-me i {
    color: #e67e22;
    font-size: 28px;
}
.cv-download i {
    font-size: 18px;
    margin-left: 5px;
    color: white;
}
.cv-download i:hover {
    color: #e67e22;
    transition: color 0.35s ease-in-out;
}
.social-links i {
    color: white;
    background-color: #8f8f8f;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    text-align: center;
    line-height: 7px;
}
.social-links i:hover {
    background-color: #e67e22;
    transition: background-color 0.35s ease-in-out;
}

/* my skills */
.skill-progress {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 2rem;
}
.progress {
    height: 25px;
    margin-bottom: 0.3rem;
}
.skill-progress-key {
    text-shadow: 2px 2px 10px grey;
    text-align: left;
    margin-left: 1rem;
}

/* work history */
.work-timeline {
    padding: 0 1rem;
}
.work-timeline--item {
    border-left: 1px solid white;
    position: relative;
    padding: 1rem;
}
.work-timeline--item:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    left: -6px;
    z-index: 1;
}
.work-timeline--dates {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.work-timeline--item:last-child {
    padding-bottom: 0;
    margin-bottom: 3rem;
}

.contact-form .btn-primary {
    background-color: #e84610;
    border-color: #6c757d;
    margin-top: 1rem;
}
